body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
  }
  .container1 {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
 
  .container1 header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  .form .input-box {
    margin-bottom: 15px;
  }
  .form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form input[type="text"],
  .form input[type="number"],
  .form input[type="date"],
  .form select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .form .address .column {
    display: flex;
    justify-content: space-between;
  }
  .form .address input[type="text"],
  .form .address input[type="number"],
  .form .address select {
    width: 48%;
  }
  .form .address .select-box {
    width: 100%;
    margin-bottom: 10px;
  }
  .form button {
    padding: 10px;
    background-color: #8E2DE2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
  }